@import "./../colors.scss";

.square {
  position: absolute;

  &.darkGrey {
    background: $darkGrey;
  }

  &.yellow {
    background: $yellow;
  }

  &.violet {
    background: $violet;
  }

  &.white {
    background: $white;
  }

  &.red {
    background: $red;
  }
}
