@import "./colors.scss";
@import "./mixins.scss";

.companyProjectsContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  .itemsWrapper {
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    & > .item {
      width: 30%;
      height: 25%;
      display: flex;
      align-items: center;
    }

    & > .item:nth-child(6n-3),
    & > .item:nth-child(6n-4),
    & > .item:nth-child(6n-5) {
      flex-direction: row-reverse;
    }

    .companyProjectsText {
      @include typography(Ubuntu, normal, bold, 36px, 41px, $darkGrey);
    }
  }
}
