@import "./colors.scss";
@import "./mixins.scss";

.infoTextContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px 0;

  & > .text {
    width: 50%;
    text-align: center;
    @include typography(Ubuntu, normal, bold, 36px, 140%, $darkGrey);
  }
}
