@import "./colors.scss";
@import "./mixins.scss";

.mobileSectionContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 200px 0;
  position: relative;

  & > .heading {
    width: 320px;
    align-self: flex-end;
    margin: 10px 440px;
  }

  .description {
    width: 435px;
    align-self: flex-end;
    margin: 10px 440px 78px 440px;
    text-align: right;
    @include typography(Ubuntu, normal, 300, 16px, 150%, $lightGrey);
  }

  .reviewContainer {
    display: flex;
    height: 300px;

    .imgContainer {
      width: 40%;
      background: $violet;
      margin-right: 50px;
      position: relative;

      & > img {
        position: absolute;
        right: 50px;
        top: -90px;
      }
    }

    .review {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
