@import "./colors.scss";

.itemContainer {
  width: 50%;

  .itemLabel {
		width: 212px;
    margin-top: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: $darkGrey;
  }

  .iconContainer {
    width: 108px;
    height: 108px;
    position: relative;

    .containerBackground {
      width: 100%;
      height: 100%;
      display: flex;
      top: 0;
      left: 0;

      & > div {
        width: 50%;
        height: 100%;
      }

      & > div:first-child {
        background: $violet;
      }
      & > div:last-child {
        background: $darkGrey;
      }

      .plain {
        background: $red!important; // edit
        width: 100%;
        height: 100%;
      }
    }

    .icon {
      position: absolute;
      top: 27px;
      width: 100%;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
