@import "./colors.scss";
@import "./mixins.scss";

.itemContainer {
  width: 50%;

  .itemLabel {
    width: 212px;
    margin-top: 20px;
    @include typography(Ubuntu, normal, 500, 20px, 120%, $darkGrey);
  }

  .iconContainer {
    width: 108px;
    height: 108px;
    position: relative;

    .containerBackground {
      width: 100%;
      height: 100%;
      display: flex;
      top: 0;
      left: 0;

      & > div {
        width: 50%;
        height: 100%;
      }

      & > div:first-child {
        background: $violet;
      }
      & > div:last-child {
        background: $darkGrey;
      }

      .plain {
        background: $red !important; // edit
        width: 100%;
        height: 100%;
      }
    }

    .icon {
      position: absolute;
      top: 27px;
      width: 100%;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
