@import "./colors.scss";
@import "./mixins.scss";

.quoteContainer {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;

  .quoteIcon {
    margin-bottom: 40px;
  }

  .quoteText {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: $darkGrey;
    @include typography(Ubuntu, normal, 500, 20px, 120%, $darkGrey);
  }

  .quoteAuthor {
    margin-top: 20px;
    @include typography(Ubuntu, normal, 300, 16px, 18px, $lightGrey);
  }
}
