@import "./colors.scss";
@import "./mixins.scss";

.stickerContainer {
  width: auto;
  height: auto;
  background: $fogWhite;

  .listContainer {
    border-left: 15px solid $violet;
    padding: 5px 0 5px 30px;
    background: $white;
    @include typography(Ubuntu, normal, 300, 16px, 200%, $lightGrey);
  }
}
