.technologiesContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin: 200px 0;

  .iconsContainer {
    display: flex;
    margin: 60px auto;
  }

  .heading {
    align-self: center;
  }
}
