@import "./../colors.scss";
@import "./../mixins.scss";

.button {
  width: 200px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  &.common {
    background-color: $white;
    border: 2px solid $darkGrey;
    @include typography(Ubuntu, normal, 500, 16px, 36px, $darkGrey);
  }

  &.common:hover {
    background: $lightGrey;
    color: $white;
  }

  &.primary {
    background-color: $violet;
    @include typography(Ubuntu, normal, 500, 16px, 40px, $white);
    border: none;
  }

  &.primary:hover {
    background: $lightGrey;
    color: $darkGrey;
  }
}
